html {
    scroll-behavior: smooth;
  }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
/*HEADER_________________
_______________________*/

.to-up{
    margin-bottom: 100px;
    bottom: 0;
    margin-right: 100px;
    right: 0;
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 100;

    animation-name: to-up-animation;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}
@keyframes to-up-animation{
    0%{
        margin-bottom: 100px ;
    }
    100%{
        margin-bottom: 125px;
    }
}

.to-up:hover.to-up{
    animation-play-state: paused;
}


.header-wrapper{
    height: 80px;
    width: 100%;
}

.header{
    box-shadow: 2px 4px 10px rgb(65, 63, 63);
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    background-color: #ece1de;
    padding-left: 95px;
    padding-right: 95px;
}
.header-flex-wrap{
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
}
.logo-header{
    cursor: pointer;
    width: 75px;
}
.navs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav1{
    margin-top: 15px;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav1-icon{
    width: 50px;
}
.nav2{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav2-icon{
    width: 50px;
}
.nav3{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav3-icon{
    width: 50px;
}
.nav4{
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav4-icon{
    width: 50px;
}
.nav5{
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #484f5b;
    font-size: 27px;
}
.nav5-icon{
    width: 50px;
}
.nav1-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav2-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav3-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav4-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}
.nav5-wrapper{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
}












.choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 1500px;
}
.call-or-direct{
    background-color: #ece1de;
    border-radius: 10%;
    box-sizing: border-box;
    padding-top: 60px;
    text-align: center;
    width: 400px;
    height: 250px;
    box-shadow: 2px 4px 30px #000;
}
.call-href{
    text-decoration: none;
    font-weight: 700;
    color: #484f5b;
    font-size: 19px;
}
.call-href:hover{
    text-decoration: none;
    font-weight: 700;
    color: #34383f;
    font-size: 19px;
}

.call-p1{
    margin-top: 26px;
    text-decoration: none;
    font-weight: 700;
    color: #484f5b;
    font-size: 19px;
}
.call-p2{
    margin-top: 26px;
    text-decoration: none;
    font-weight: 700;
    color: #484f5b;
    font-size: 19px;
}
.or{
    font-size: 34px;
    color: #484f5b;
    margin-top: 75px;
}
































/*CONTACTS_________________
_______________________*/


.contacts{
    justify-content: space-evenly;
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
    align-content: center;
    padding-top: 45px;
    box-sizing: border-box;
    height: 400px;
    background-color: #484f5b;
}
.tab1{
    text-align: left;
}
.tab1-h2{
    width: 290px;
    color: white;
    font-size: 17px;
}
.tab1-p{
    width: 290px;
    color: white;
    font-size: 17px;
    margin-top: 25px;
}
.tab1-href{
    cursor: pointer;
    text-decoration: underline;
    height: 40px;
    width: 290px;
    color: white;
    font-size: 17px;
    margin-top: 60px;
}
.tab1-href:hover{
    cursor: pointer;
    text-decoration: underline;
    height: 40px;
    width: 290px;
    color: #555453;
    font-size: 17px;
    margin-top: 60px;
}
#tel{
    cursor: pointer;
    text-decoration: underline;
    height: 40px;
    width: 290px;
    color: white;
    font-size: 17px;
    margin-top: 60px;
}
#tel:hover{
    cursor: pointer;
    text-decoration: underline;
    height: 40px;
    width: 290px;
    color: #555453;
    font-size: 17px;
    margin-top: 60px;
}







.tab2{
    text-align: left;
}
.tab2-h2{
    width: 290px;
    color: white;
    font-size: 17px;
}
.tab2-p{
    cursor: pointer;
    text-decoration: underline;
    width: 100px;
    color: white;
    font-size: 17px;
    margin-top: 25px;
}
.tab2-p:hover{
    cursor: pointer;
    text-decoration: underline;
    width: 100px;
    color: #555453;
    font-size: 17px;
    margin-top: 25px;
}



.tab3{
    text-align: left;
}

.tab3-p{
    width: 300px;
    color: white;
    font-size: 17px;
    margin-top: 25px;
}

.social-media{
    margin-top: 15px;
    width: 60px;
    display: flex;
    justify-content: space-between;
}
.facebook{
    cursor: pointer;
}
.instagram{
    cursor: pointer;
}